body {
    margin: 0;
    padding: 0;
}

.boxes{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    margin: 0;
}

.box1{
    background-color: #1f2937;
}

.box2{
    background-color: #ffffff;
}

.box3{
    background-color: #efe7eb;
}

.box4{
    background-color: #1f2937;
}

.header{
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 30px;
    gap: 500px;
}

.links{
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.box1{
    font-family: 'Roboto';
}

.headerlogo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hlink1, .hlink2, .hlink3{
    font-size: 18px;
    color: #e5e7ebdb;
}

.second-line{
    display: flex;
    padding:100px;
    justify-content: center;
    gap: 40px;
}
.awesome{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
}

.bold{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.small{
    font-size: 18px;
    color: #e5e7ebdb;
}

button{
    color: #f9faf8;
    display: flex;
    background-color: #3882f6;
    text-align: center;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.image{
    background-color: rgb(122, 122, 122);
    display: flex;
    color: #f9faf8;
    padding: 20px;
    justify-content: center;
    align-items:center;
    width: 500px;
    height: 200px;
}

